button, input[type="submit"], input[type="reset"] {
	background: none;
	color: #fff;
	border: none;
	padding: 0;
    font-size: 20px;
    font-style: normal;
	cursor: pointer;
	outline: inherit;
}

header {
    display: flex;
    justify-content: space-between;
}

.hover {
    
}
.hover:hover {
    color:  #49c5b6;
    transition: all 0.3s ease 0s;
}
.logoImg {
    width: 3vw;
    border-radius: 50%;
}
.logoImg:hover {
    box-shadow: 0 0 5px 2px #49c5b6;
    transition: all 0.3s ease 0s;
} 
.title {
   
}